<!DOCTYPE html>
<html>
<body>

<% user = User.find(session[:user_id]); %>
<% user.name %>

<section id="main-content">
  <section class="wrapper">
    <h2>Select an App:</h2>
    <table class="table table-striped table-hover">
      <thead>
      <tr>
        <th>App Name</th>
        <th>Colors</th>
        <th>Numbers</th>
        <th>Strings</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>

      <% user.apps.each do |app| %>
          <tr>
            <td><%= app.name %></h3></td>
            <td><%= link_to 'Modify Colors', couleurs_path(app.id), :class => "btn btn-small btn-round btn-success" %></td>
            <td><%= link_to 'Modify Numbers', numbers_path(app.id), :class => "btn btn-small btn-danger" %></td>
            <td><%= link_to 'Modify Strings', at_strings_path(app.id), :class => "btn btn-small btn-primary" %></td>
            <td><%= link_to 'Launch Jenkins', start_jenkins_path(app.name), :class => "btn btn-small btn-warning" %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <% if (UsersHelper.isAdmin(session[:user_id])==true) %>
        <div class="">
          <%= render :partial => "menu/home_admin" %>
        </div>
    <% end %>

    <% if (session[:user_id]!= nil) %>
        <%= button_to 'Logout', logout_path, method: :delete, :class => "btn btn-info" %>
    <% end %>
  </section>
</section>
</body>
</html>