<% user = User.find(session[:user_id]); %>
<% user.name %>

<section id="main-content">
  <section class="wrapper">
    <br/>
    <br/>
    <section class="panel">
      <header class="panel-heading">
        <h2>Select an App</h2>
      </header>
      <div class="panel-body">
        <div class="adv-table">
          <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">

            <table class="display table table-bordered dataTable" id="example" aria-describedby="example_info">
              <thead>
              <tr role="row">
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="App Name: activate to sort column ascending" style="width: 360px;">
                  App Name
                </th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Colors: activate to sort column ascending" style="width: 360px;">Colors</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Numbers: activate to sort column ascending" style="width: 360px;">Numbers</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Strings: activate to sort column ascending" style="width: 360px;">Strings</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 360px;">Localizable</th>
                <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="1" colspan="1" aria-label="Action: activate to sort column ascending" style="width: 360px;">Action</th>
              </tr>
              </thead>

              <tfoot>
              <tr>
                <th rowspan="1" colspan="1">App Name</th>
                <th rowspan="1" colspan="1">Colors</th>
                <th rowspan="1" colspan="1">Numbers</th>
                <th rowspan="1" colspan="1">Strings</th>
                <th rowspan="1" colspan="1">Localizable</th>
                <th rowspan="1" colspan="1">Action</th>
              </tr>
              </tfoot>
              <tbody role="alert" aria-live="polite" aria-relevant="all">
              <% user.apps.each do |app| %>
                  <tr>
                    <td><%= app.name %></td>
                    <td><%= link_to 'Modify Colors', couleurs_path(:app_id => app.id), :class => "btn btn-sm btn-round btn-success" %></td>
                    <td><%= link_to 'Modify Numbers', numbers_path(:app_id => app.id), :class => "btn btn-sm btn-danger" %></td>
                    <td><%= link_to 'Modify Strings', at_strings_path(:app_id => app.id), :class => "btn btn-sm btn-primary" %></td>
                    <td><%= link_to 'Modify Localizable', localizables_path(:app_id => app.id), :class => "btn btn-sm btn-info" %></td>
                    <td><%= link_to 'Launch Jenkins', start_jenkins_path(:name => app.name), :class => "btn btn-sm btn-warning" %></td>
                  </tr>
              <% end %>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </section>
  </section>
</section>
