<p id="notice"><%= notice %></p>

<p>
  <strong>App id=integer:</strong>
  <%= @theme_color.app_id=integer %>
</p>

<p>
  <strong>Color=string:</strong>
  <%= @theme_color.color=string %>
</p>

<%= link_to 'Edit', edit_theme_color_path(@theme_color) %> |
<%= link_to 'Back', theme_colors_path %>
