<%= form_for @number, :html => {:class => 'form-horizontal'} do |f| %>
    <% if @number.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@number.errors.count, "error") %> prohibited this number from being saved:</h2>

          <ul>
            <% @number.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :value, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :value_coul, :class => 'text_field', :id => 'minicolor', :data_defaultValue => "#{CouleursHelper.value_coul_to_minicolor(@couleur.value_coul)}" %>
        <div id="Inline"></value>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  numbers_path, :class => 'btn' %>
    </div>
<% end %>
