<div class="panel-body">
  <%= form_for @couleur, :html => {:class => 'form-horizontal'} do |f| %>
      <% if @couleur.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@couleur.errors.count, "error") %> prohibited this color from being saved:</h2>

            <ul>
              <% @couleur.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.label :title, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :title, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :value_coul, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :value_coul, :class => 'form-control', :id => 'minicolor', :data_defaultValue => "#{CouleursHelper.value_coul_to_minicolor(@couleur.value_coul)}" %>
          <div id="Inline"></div>
        </div>
      </div>

      <div class="form-group">
        <div class="btn btn-warning btn-xs">
          <label class="btn btn-warning btn-sm" data-toogle="buttons">
            <%= f.check_box :edit_flag %>Press Here if someone needs to edit this key
          </label>

          <div id="Inline"></div>
        </div>
      </div>

      <% if (params[:app_id]!=nil)
           app_id = params[:app_id]
         else
           app_id = @couleur.app_id
         end %>
      <%= f.hidden_field :app_id, :value => "#{app_id}" %>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    couleurs_path(:app_id => app_id), :class => 'btn' %>
      </div>
  <% end %>
</div>
