<%= form_for @couleur, :html => {:class => 'form-horizontal'} do |f| %>

    <div class="control-group">
      <%= f.label :title, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :title, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :coul_type, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :coul_type, :class => 'text_field' %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :value_coul, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :value_coul, :class => 'text_field', :id => 'minicolor', :data_defaultValue => "#{CouleursHelper.value_coul_to_minicolor(@couleur.value_coul)}"%>
        <div id="Inline"></div>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                  couleurs_path, :class => 'btn' %>
    </div>
<% end %>
