<%- model_class = Couleur -%>
<section class="wrapper" id="main-content">
  <br>
  <br>
  <section class="panel">
    <header class="panel-heading">

      <h2><%= t '.title', :default => model_class.model_name.human.pluralize.titleize, :class => "text-center" %> de
        l'application <%= @app.name %> </h2>
    </header>
    <div class="panel-body">
      <div class="adv-table">
        <div id="example_wrapper" class="dataTables_wrapper form-inline" role="grid">

          <table class="display table table-condensed table-bordered dataTable" id="example" aria-describedby="example_info">
            <thead>
            <tr role="row">
              <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="0" colspan="0" aria-label="Colors: activate to sort column ascending" style="width: 360px;">Name</th>
              <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="0" colspan="0" aria-label="Numbers: activate to sort column ascending" style="width: 360px;">Type</th>
              <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="0" colspan="0" aria-label="Strings: activate to sort column ascending" style="width: 360px;">Value</th>
              <th class="sorting" role="columnheader" tabindex="0" aria-controls="example" rowspan="0" colspan="0" aria-label="Action: activate to sort column ascending" style="width: 360px;"><%= t '.actions', :default => t("helpers.actions") %></th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th rowspan="0" colspan="0">Name</th>
              <th rowspan="0" colspan="0">Type</th>
              <th rowspan="0" colspan="0">Value</th>
              <th rowspan="0" colspan="0">Action</th>
            </tr>
            </tfoot>
            <tbody role="alert" aria-live="polite" aria-relevant="all">
            <% @app.couleurs.each do |couleur| %>
                <tr>
                  <td><%= couleur.title %></td>
                  <td><%= couleur.coul_type %></td>
                  <td>
                    <div id="circle">
                      <%= couleur.value_coul %>
                      <svg xmlns="http://www.w3.org/2000/svg">
                        <circle cx="13" cy="13" r="13" fill="<%=CouleursHelper.value_coul_to_minicolor(couleur.value_coul)%>"/>
                      </svg>
                    </div>
                  </td>
                  <td> <%= link_to t('.edit', :default => t("helpers.links.edit")),
                                   edit_couleur_path(couleur), :class => 'btn btn-mini' %>
                    <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                                couleur_path(couleur),
                                :method => :delete,
                                :data => {:confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?'))},
                                :class => 'btn btn-mini btn-danger' %> </td>
                </tr>
            <% end %>
            </tbody>
          </table>

        </div>
      </div>
    </div>

  </section>
  <%= link_to "New Color", new_couleur_path(:app_id => @app.id), :class => 'btn btn-primary' %>
  <%= link_to "Back to menu", root_path, :class => 'btn btn-secondary' %>
</section>