<div class="depot_form">

  <%= form_for(@user) do |f| %>
      <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

            <ul>
              <% @user.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <fieldset>
        <legend>Enter User Details</legend>
        <div class="control-group">
          <%= f.label :name, size: 40 %>
          <br>

          <div class="controls">
            <%= f.text_field :name, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password %>
          <br>

          <div class="controls">
            <%= f.password_field :password, size: 40, :class => 'text_field' %>
          </div>
        </div>
        <div class="control-group">
          <%= f.label :password_confirmation %>
          <br>

          <div class="controls">
            <%= f.password_field :password_confirmation, size: 40, :class => 'text_field' %>
          </div>
        </div>

        <div class="control-group">
          <%= f.label :admin %>
          <br>

          <div class="controls">
            <%= f.text_field :admin, :class => 'text_field' %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit nil, :class => 'btn btn-primary' %>
          <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                      users_path, :class => 'btn' %>
        </div>
      </fieldset>
  <% end %>
</div>