<%= form_for(@user = User.find(params[:id]), :html => {:multipart => true}) do |f| %>
    <div class="control-group">
      <%= f.label :app_ids %>
      <br>

      <div class="controls">
        <%= f.text_field :app_ids, :class => 'text_field' %>
      </div>
      <%= f.collection_select(:app_ids, App.all, :id, :name) %>
    </div>
    <%= f.submit nil, :class => 'btn btn-primary' %>

<% end %>