<div class="panel-body">
  <%= form_for @localizable, :html => {:class => 'form-horizontal'} do |f| %>
      <% if @localizable.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@localizable.errors.count, "error") %> prohibited this number from being saved:</h2>

            <ul>
              <% @localizable.errors.full_messages.each do |message| %>
                  <li>
                    <%= message %>
                  </li>
              <% end %>
            </ul>
          </div>
      <% end %>
      <div class="form-group">
        <%= f.label :key_loc, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :key_loc, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :value, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :value, :class => 'form-control' %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :lang, :class => 'control-label' %>
        <div class="controls">
          <%= f.text_field :lang, :class => 'form-control' %>
        </div>
      </div>



      <% if (params[:app_id]!=nil)
           app_id= params[:app_id]
         else
           app_id = @localizable.app_id
         end %>
      <%= f.hidden_field :app_id, :value => "#{app_id}" %>
      <div class="form-actions">
        <%= f.submit nil, :class => 'btn btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    localizables_path(:app_id => app_id), :class => 'btn' %>
      </div>
  <% end %>
</div>
