<!DOCTYPE html>
<html>
<body>
<div class="center hero-unit">

  <h2 class="text-center">You are
    <% @user = User.find_by(session[:user_id]) %>
    <%= @user.admin %>
    <%= @user.name %></h2>
</div>
<div class="panel panel-default">

  <div class="well text-center">
    <h2 class="underlined"> <%= link_to "here", couleurs_path %>Select an App:</h2>
    <% for i in 0..@user.app_ids.length-1
         @app=App.find(@user.app_ids[i]) %>
        <h3> <%= @app.name %></h3>
        <%= link_to 'Modify Colors', couleurs_path(@app), :class => "btn btn-success" %>
    <% end %>
  </div>

  <% if (UsersHelper.isAdmin(session[:user_id])==true) %>
      <div class="well text-center">
        <%= render :partial => "static/home_admin" %>
      </div>
  <% end %>

  <% if (session[:user_id]!= nil) %>
      <%= button_to 'Logout', logout_path, method: :delete, :class => "btn btn-info" %>
  <% end %>
</div>
</body>
</html>